{% extends 'df_goods/base.html'%}
	{% block detail %}
	<div class="goods_detail_con clearfix">
		<div class="goods_detail_pic fl"><img src="/static/df_goods/goods{{goodsinfo.gpic}}.jpg" "></div>
		<div class="goods_detail_list fr">
			<h3>{{goodsinfo.gtitle}}}</h3>
			<p>{{goodsinfo.gresume}}</p>
			<div class="prize_bar">
				<span class="show_pirze">¥<em>{{goodsinfo.gprice}}</em></span>
				<span class="show_unit">单  位：{{goodsinfo.gunit}}</span>
			</div>
			<div class="goods_num clearfix">
				<div class="num_name fl">数 量：</div>
				<div class="num_add fl">
					<input type="text" class="num_show fl" value="1">
					<a href="javascript:;" class="add fr">+</a>
					<a href="javascript:;" class="minus fr">-</a>	
				</div> 
			</div>
			<div class="total">总价：<em></em></div>
			<div class="operate_btn">
				<a href="javascript:;" class="buy_btn">立即购买</a>
				<a href="javascript:;" class="add_cart" id="add_cart">加入购物车</a>				
			</div>
		</div>
	</div>

	{% endblock detail %}
		{% block goods%}
		<div class="r_wrap fr clearfix">
			<ul class="detail_tab clearfix">
				<li class="active">商品介绍</li>
				<li>评论</li>
			</ul>

			<div class="tab_content">
				<dl>
					<dt>商品详情：</dt>
					<dd>{{goodsinfo.gcontent}}</dd>
				</dl>
			</div>

		</div>
	<div class="add_jump"></div>
{% endblock goods%}
{% block footJs %}
	<script type="text/javascript">
		$(function(){


		});
	</script>
	<script type="text/javascript">
		var $show = $('.num_show'),
				$add = $('.add'),
				$munis = $('.minus'),
				$total = $('.total em');
		var	price = parseFloat($('.show_pirze em').text());
		var count = parseInt($show.val());
		var total_count = parseInt($('#show_count').html())

		// 加入购物车动画
		var $add_x = $('#add_cart').offset().top;
		var $add_y = $('#add_cart').offset().left;
		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;
		$(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
		
		// 用户操作购物车
		// 数量选择
		$total.html(parseFloat(count*price).toFixed(2)+'元')
		$add.click(function(){				
				count += 1;
				$show.val(count);
				$total.html(parseFloat(count*price).toFixed(2)+'元')
		});
		$munis.click(function(){
				if (count>0)
				{
					count -= 1;
					$show.val(count);
					$total.html(parseFloat(count*price).toFixed(2)+ '元')
				}			
		})
		$show.blur(function(){
			count = parseInt($show.val());
			$total.html(parseFloat(count*price).toFixed(2) + '元')
		})
		// 购买
		$('.buy_btn').click(function(){
			// 判断是否登录状态
			//indexOf false返回-1
			if ($('.login_btn').text().indexOf('登录')>0){
				alert('请先登录再购买');
				location.href = '/user/login/';
				return;
			}
			$('#show_count').html(count+total_count);
			$.get('/cart/add{{goodsinfo.id}}_'+'0/',function(data){
				if (data['count'] > 0)
				{
					location.href = '/cart/';
				}
			})
		})
		// 加入购物车
		$('.add_cart').click(function(){
			// 判断是否登录状态
			//indexOf false返回-1
			if ($('.login_btn').text().indexOf('登录')>0){
				alert('请先登录再购买');
				location.href = '/user/login/';
				return;
			}
			// 动画
			$(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
						$('#show_count').html(count+total_count);
					});
			});
			// 异步
			$('#show_count').html(count+total_count);
			$.get('/cart/add{{goodsinfo.id}}_'+count+'/');
		})
	</script>
{% endblock footJs %}	
